fastapi
uvicorn
ultralytics
pillow
python-multipart
onnxruntime
sqlalchemy
aiosqlite
alembic
passlib[bcrypt]
python-jose[cryptography]
scikit-learn
joblib
ImageHash
numpy
scipy
google-generativeai
email-validator
kagglehub
transformers
google-auth